*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



html{
    font-size: 62.5%;
    height: 100%;
    background-color: aqua;
    padding: 5px;
}

.container-grid{
    padding: 5px;
    min-height: 100vh;
    display: grid;
    gap: 5px;
    grid-template:
    "item1 "  150px
    "item2 "  150px 
    "item3"   150px
    "item4"   
    "item5"   
    "item6"   
    "item7"   
    "item8"   
    "item9"   

    ; 
}

.item1{
    display: flex;
    gap: 10px;
    flex-direction: column;
    place-content: center;
    place-items: center;

}

.item2{

   display: grid;
   place-items: center;
   grid-template-columns: 70px  30px  50px;
   place-content: center;
    place-items: center;
}

.item2 h1{
    background-color: blue;
    border-radius: 4px;
}
.item2 p{
    background-color: lightcoral;
    border-radius: 4px;
}

.item2 h2{
    display: flex;
    justify-content: center;
    background-color: yellow;
    width: 20px;
}

.item3{
    padding: 10px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    place-content: end;
    
}
.item4{
    padding: 10px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content:  space-between ;   
}

.item5{
    position: relative;
}
.container-grid .item5 .section-item5{
    display: flex;
    flex-direction: row;
    gap: 6px;
    place-items: center;
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.item6{
    display: grid;
    place-items: center;
}

.container-grid .item6 .section-item6{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 100%;
   align-items: center;
}

.item7{
    position: relative;
    
}

.container-grid .item7 .section-item7{
    position: absolute;
    right: 2px;
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    
 }

 .container-grid .item8 .section-item8 , .section-item9{

    display: flex;
    gap: 10px;
    flex-direction: column;
    place-content: center;
    place-items: center;
    }

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}
.item9{
    grid-area: item9;
}
@media(min-width:600px){
    .container-grid{
        background-color: black;
        
        grid-template: 
        "item1  item1  item1" 80px
        "item2  item2  item2" 90px
        "item3  item4  item7" 100px
        "item5  item5  item6"  auto
        "item8  item8  item9"  70px
         
        ;   
    }
}

@media(max-width:500px){
    .container-grid  .item{
        display: flex;
        flex-direction: row;
        justify-content: center;align-items: center;      
}

    .container-grid .section-item5{
       position: absolute;
       left: 53%;
       top: 50%;
       transform: translate(-50%,-50%);

    }

    .container-grid .section-item7{
        position: absolute;
       left: 51%;
       top: 10%;
       transform: translate(-50%,-50%);
        
 
     }

}







